@font-face {
font-family: "Montserrat";
src: url("../fonts/Montserrat-VariableFont_wght.woff2")
}
body{
    margin: 0;
    background: #FAF7F6;
    font-family: 'Montserrat';
}
figure {
    margin:0;
    padding:0;
}
sup {
    line-height: 0;
}
blockquote {
    margin: 0;
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}
blockquote p{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
blockquote hr{
    margin-left: 0;
    margin-right: 0;
}
@media only screen and (max-width: 768px){
h1{
    text-align: center;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
}
h3{
    text-align: center;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 10%;
}
p{
    text-align: left;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}
img{
    height: auto;
    width: 100vw;
    margin: auto;
    display: block;
}
figcaption {
    padding: 10px;
    text-align: center;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}
hr{
    margin-left: 10%;
    margin-right: 10%;
}
blockquote{
    text-align: left;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}
blockquote img{
    width: 75vw;
}
}
@media only screen and (min-width: 768px){
h1{
    text-align: center;
    font-weight: 600;
    margin-left: 30%;
    margin-right: 30%;
}
h3{
    text-align: center;
    font-weight: 400;
    margin-left: 30%;
    margin-right: 30%;
}
p{
    text-align: left;
    font-weight: 300;
    margin-left: 30%;
    margin-right: 30%;
}
img{
    height: auto;
    width: 65vw;
    margin: auto;
    display: block;
}
figcaption {
    padding: 10px;
    text-align: center;
    font-weight: 300;
    margin-left: 30%;
    margin-right: 30%;
}
hr{
    margin-left: 30%;
    margin-right: 30%;
}
blockquote{
    text-align: left;
    font-weight: 300;
    margin-left: 30%;
    margin-right: 30%;
}
blockquote img{
    width: 37vw;
}
}